{% extends 'main.html' %} {% load static %} {% block content %}
<style>
  button a {
    text-decoration: none;
    color: white;
  }
  form {
    color: rgb(1, 22, 40);
    border-radius: 5px;
    box-shadow: 0.4px 0.4px 5px gray;
    margin: 5px;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
  }
  h3 {
    text-align: center;
    margin-bottom: 40px;
  }
</style>
<form class="form" action="" method="POST">
  <h3>قالب الحذف</h3>
  <div class="mb-3">
    {% csrf_token %}
    <p>هل انت متأكد من حذف {{delete.products}}</p>
    <div>
      <button class="btn btn-primary">
        <a href="{{request.META.HTTP_REFERER}}">تراجع</a>
      </button>
      <input class="btn btn-primary" type="submit" value="حذف" />
    </div>
  </div>
</form>
{% endblock content %}
