{% extends 'main.html' %}
{% block content %}
    <a href="{% url 'update_income' product.pk %} ">إضافة دخل</a>
    <a href="{% url 'update_outcome' product.pk %}">إضافة خرج</a></p>
    <p>عنوان البضاعة {{product}} </p> 
    {% for worker in workers %}
        <p>المشتري <span>{{worker}}</span></p> 
    {% endfor %}
    <p>قيمة البضاعة {{product.paid}}</p>
    <p>الكمية {{product.quantity}}</p>
    <p>تاريخ ووقت الشراء {{product.date_created|date}}</p>
    <p>المخرج {{product.outcome}}</p>
    <p>نوع المخرجات {{product.type}}</p>
    {% for worker in product.person.all %}
        <p>المخرج {{worker}}</p>
    {% endfor %}
    

{% endblock content %}
    
    
        
    
    

