{% extends 'main.html' %}
{% block content %}
     <h1><a href="{% url 'index' %}">الفريد</a></h1>
    <a href="{% url 'sales' %}">المشتريات</a>
    <a href="{% url 'income' %}">المدخلات</a>
    <a href="{% url 'outcome' %}">المخرجات</a>
    <ul>
        {% for product in products  %}
        {% for worker in product.worker.all  %}
       <li> <a href="{% url 'details' product.id %}">عملية شراء جديدة ({{product.products}})بواسطة {{worker}} بتاريخ {{product.date_created|date}}</a>
    </li> 
        
       {% endfor %}
        {% endfor %}
    </ul>
{% endblock content %}
   
